header{
    box-sizing: border-box;
    padding-top: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #ececec;
    position: fixed;
    z-index: 100;
}
.HeaderLogo{
    display: flex;
    flex-direction: column;
    font-family: var(--title);
    font-size: 21pt;
    font-weight: 600;
    width: 78px;
    line-height: 24px;
}
.LastName{
    text-align: right;
}
.DrawerIcon {
    cursor: pointer;
}
.DrawerIcon svg {
    padding-top: 10px;
}
.DrawerMenu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 100vw;
    background-color: var(--bg-color2);
    z-index: 100;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease;
}
.DrawerMenu.open {
    opacity: 1;
    visibility: visible;
}
.DrawerClose {
    position: absolute;
    top: 30px;
    right: 35px;
    cursor: pointer;
}
.DrawerMenu ul{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.DrawerMenu ul a {
    text-decoration: none;
    color: var(--text-color);
    font-size: 38pt;
}
@media screen and (min-width: 770px) {
    .DrawerMenu.open {
        width: 30vw;
    }
    .DrawerMenu ul a {
        font-size: 18pt;
    }
}