.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 150px;
}

.header-title h1 {
    margin: 0;
}

.header-links {
    display: flex;
    justify-content: space-around;
    width: 30%;
    font-weight: 600;
}

.header-links a {
    text-decoration: none;
    color: var(--text-color);
    transition: color 0.3s ease;
    position: relative;
}

.header-links a:hover {
    color: var(--secondary-color);
}

.header-links a::before {
    content: '';
    display: block;
    height: 3px;
    width: 100%;
    background-color: var(--secondary-color);
    position: absolute;
    bottom: 82px;
    left: 0;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

.header-links a:hover::before {
    transform: scaleX(1);
}

.drawer-toggle {
    display: none;
}

.drawer {
    display: none;
}

.drawer-toggle-button {
    appearance: none;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.drawer-toggle-icon {
    display: block;
    width: 20px;
    height: 2px;
    background-color: var(--text-color);
    position: relative;
    transition: transform 0.3s ease;
}

.drawer-toggle-icon:before,
.drawer-toggle-icon:after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-color: var(--text-color);
    position: absolute;
    transition: transform 0.3s ease;
}

.drawer-toggle-icon:before {
    top: -6px;
}

.drawer-toggle-icon:after {
    bottom: -6px;
}

.drawer-toggle-icon.open {
    transform: rotate(45deg);
}

.drawer-toggle-icon.open:before {
    transform: translateY(6px) rotate(90deg);
}

.drawer-toggle-icon.open:after {
    transform: translateY(-6px) rotate(90deg);
}

@media (max-width: 768px) {
    .header-links {
        display: none;
    }

    .drawer-toggle {
        display: block;
    }

    .drawer {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: var(--bg-color);
        padding: 10px;
        transition: transform 0.3s ease;
        transform: translateX(-100%);
        z-index: 999;
    }

    .drawer .page-width {
        max-width: 90%;
        height: 100%;
    }

    .drawer.open {
        transform: translateX(0);
    }

    .drawer .drawer-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .drawer-logo{
        width: 70px;
    }

    .drawer .drawer-links {
        display: flex;
        flex-direction: column;
        gap: 100px;
        margin-top: 100px;
        height: 100%;
    }

    .drawer a {
        display: flex;
        justify-content: center;
        color: var(--text-color);
        transition: color 0.3s ease;
        text-decoration: none;
        font-size: 60px;
        text-transform: uppercase;
    }

    .drawer a:hover {
        color: var(--secondary-color);
    }
}

@media screen and (min-width: 769px) {
    .header-drawer-toggle {
        display: none;
    }
}
